body {
  font-size: 16px;
}

input {
  font-size: inherit;
}

.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  min-height: -webkit-fill-available;
}

.App-header {
  min-height: 38px;
  font-size: 30px;
  flex-basis: 0;
  flex-grow: 0;
}

.App-section {
  flex-grow: 1;
  flex-basis: 0;
  min-height: 0;
  overflow: hidden;
  align-items: center;
}
